*{
    background-color: lightblue;
}
h1{
    margin-left: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
li{
    list-style:inside;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a{
text-decoration: none;
color: black;
font-size: 20px;
}
img{
    border-radius: 20%;
    margin-left: 20px;
}
ul{
    border: 2px solid black;
    padding: 10px;
    max-width: 200px;
    margin-left: 20px;
}